.App {
  header {
    height: 10vh;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-container {
    height: 85vh;
    display: flex;
    width: 99%;
    overflow-x: auto;
    flex-direction: row;
    padding-bottom: 2%;
    .add-list-btn {
      border-radius: 3px;
      margin-left: 8px;
      min-width: 270px;
      padding: 0 10px 10px 10px;
      opacity: 1;
      color: white;
        border-radius: 4px;
        background-color: #fff;
        display: flex;
        flex-flow: column nowrap;
      p{
        margin: 0;
        height: 36px;
        color: black;
        background-color: rgba(0, 0, 0, 0.15); 
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
        padding: 6px 8px 2px;
      }
      input {
        width: 270px;
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
        overflow: hidden;
        margin-top: 5px;
        padding: 7px 0 7px 5px; 
        outline: currentcolor none medium;
        border: medium none;
      }
    }
  }
}

